* , *::before, *::after{
box-sizing: border-box;
font-family: 'Roboto';
}

body {
   margin: 0;
   padding: 4rem 0;
   background-color: rgb(255, 255, 255);
   /* height: calc(100vh - 80px); */
}
:root {
   --primary-colour:rgb(106, 125, 83); 
   --background:rgba(255, 255, 255, 0);
   --font-secondary:rgb(32, 32, 32);
}

#hero-container,#about-quiz {
   width: 100vw;
   height: 100vh;
}

.align-left {
   /* background-color:rgb(212, 89, 89);  */
   display: flex;
   justify-content: center;
   align-items: left;
   flex-direction: column;
   padding: 2em;
   line-height: 7em;
}

.nav-container {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   border: 2px, solid, var(--primary-colour);
   height: 80px;
}
.nav-element {
   float: right;  
}
.nav-element a {
  display: block;
  color:var(--primary-colour);
  text-align: center;
  padding: 24px 16px;
  text-decoration: none;
  font-size: 1.6em;
  font-weight: 200;
  padding-right: 1.6em;
}

.logo {
   color: var(--primary-colour);
   font-size: 1.6em;
}
.large-font {
margin-right: 3em;
text-align: left;
font-size: 5em;
color: transparent;
-webkit-text-stroke-width: 1px;
-webkit-text-fill-color: transparent;
-webkit-text-stroke-color: var(--primary-colour);
}
.medium-font {
font-size: 1.8em;
color: var(--font-secondary);
line-height: 1.8em;
}


#dogs-container {
   display: flex;
   justify-content: space-around;
   flex-direction: row;
}
.flex-center {
   display: flex;
   justify-content: center;
   text-align: center;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.hidden {
display: none
;}
