* , *::before, *::after{
box-sizing: border-box;

}

body {
   margin: 0;
   background-color: rgb(255, 255, 255);
   scroll-behavior: smooth;
   font-family: 'Kanit';
   
}
:root {
   --primary-colour:rgb(49, 78, 14); 
   --background:rgba(235, 235, 235, 0);
   --secondary-colour:rgb(28, 32, 31);
   --small-font: 1.5rem;
   --medium-font : 2.5rem;
   --large-font : 4rem;
   --Xlarge-font  :5rem;
}

.wrapper-container {
   margin-left: auto;
   margin-right: auto;
   max-width: 80vw;
}



.heading1 {
font-size: var(--large-font);
font-family: 'Kanit';
font-weight: 600;
color: var(--secondary-colour);
text-align: center;
/* -webkit-text-stroke-width: 1px;
-webkit-text-fill-color: white;
-webkit-text-stroke-color: var(--primary-colour); */
}

.heading2{
font-family: 'Kanit';
font-size: var(--medium-font);
color: var(--primary-colour);
line-height: 3rem;
font-weight: 100;

}


.height100{
   height: 100vh;
}

.container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: left;
   gap:1.5rem;
   
}

.btn  {
   padding: 1rem 2rem;
   font-size: var(--small-font);
   border: 1px solid gray;
   border-radius: 1rem;
   margin-top: 2rem;
   background-color: var(--primary-colour);
   color: white ;
   font-family: 'Roboto';
}

.quiz-container {
   text-align: center;
}

#hero-container{
   /* background-color:rgb(212, 89, 89);  */
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 2em;
}

.margin-sides {
   margin-right: 3em;
   margin-left: 3em;
}

#dogs-container {
   display: flex;
   justify-content: flex-start;
   align-items: space-between;

}
.flex-center {
   display: flex;
   justify-content: center;
   text-align: center;
}



.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#done.hidden, #quiz-section.hidden {
display: none;
}


/*Responsive Ipad  */

@media screen and (max-width: 800px) {
  #hero-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   
  }
  .container {
   font-size: var(--small-font);
   align-items: center;
  }
   #question-container {
      gap:0.5rem;
      font-size: var(--small-font);
   }


}