*, *::before, *::after {
   box-sizing: border-box;
   font-family: 'Kanit';
}
:root {
   --primary-colour:rgb(76, 94, 54); 
   --background:rgba(255, 255, 255, 0);
   --font:rgb(32, 32, 32);
   --small-font: 1.5rem;
   --medium-font : 2.5rem;
   --large-font : 4rem;
   --Xlarge-font  :5rem;
}

#question-container {
   display: flex;
   justify-content: left;
   flex-direction: column;
   gap: 2em;
} 

.flex-center {
   display: flex;
   justify-content: flex-start;
   gap: 2em;
   align-items: center;
}


.next-btn  {
   padding: 1rem 2rem;
   font-size: var(--small-font);
   border: 1px solid gray;
   border-radius: 1rem;
   margin-top: 2rem;
   background-color: var(--primary-colour);
}
.next-btn:hover {
   background-color: rgb(107, 148, 107);
   color: white;
}


#done {
   display: flex;
   justify-content:space-around;
   align-items: left;
   flex-direction: column;
   font-family: 'Roboto';
   font-weight: 200;
   font-size: var(--small-font);
}
.result-paragraph {
   font-size: 2rem;
}

#results {
   font-family: 'Roboto';
   font-size: var(--font-secondary);
   
}

/* The container */
.container-btn {
   display: block;
   position: relative;
   cursor: pointer;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   font-size: var(--medium-font);
   color: var(--background);
   -webkit-text-stroke-width: 1px;
   -webkit-text-fill-color: var(--background);
   -webkit-text-stroke-color: var(--primary-colour);
}

.dog-results-info-container {
   font-size: var(--small-font);
   font-family: 'Roboto';
}

.dog-results-name {
   font-size: var(--medium-font);
}

.background-image {
   background-image: url(../img/Friends\ playing\ board\ game\ during\ lockdown.png);
   background-size: 500px;
   background-repeat: no-repeat;
   background-position: right;
}

.displayImage {
   display: flex;
   background-color: red;
}

/* Create a custom radio button */
input[type="radio"]{
   -webkit-appearance: none;
   appearance: none;
   background-color: var(--background);
   border: 2px solid var(--primary-colour);
   margin: 0;
   font: inherit;
   width: 2rem;
   height: 2rem;
   border-radius: 50%;
   transform: translateY(-0.075em);
}

input[type="radio"]::before {
  content: "";
  width: 3em;
  height: 3em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 2em 2em var(--secondary-colour);
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

input[type="radio"]:focus {
  background: var(--primary-colour);
   border: 8px solid var(--font-secondary);
}


#question {
   font-size: var(--medium-font);
   color: var(--font-secondary);
}

@media screen and (max-width: 1300px) {
   .background-image {
      background-size: 300px;
      background-repeat: no-repeat;
      background-position: right;
      background-image:url(../img/Delivery.png)
   }
}

@media  screen and (max-width: 860px) {
   .background-image {
      background-image: none;
   }
   .container-btn {
      font-size: var(--small-font);
      gap: 0.5rem;
   }
}
